<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pour Enfants</title>
    </head>

    <body>
        <h1>Pour Enfants</h1>

        <a href="produit.html" style="font-size: xx-large;">Produits</a>
        <a href="pour_homme.html" style="font-size: xx-large;">Pour Hommes</a>
        <a href="pour_femme.html" style="font-size: xx-large;">Pour Femmes</a>

        <h2>Produits pour enfants</h2>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
               <div class="glasses_box">
                  <figure><img src="images/glass1" alt="#"/></figure>
                  <h3><span class="blu">$</span>150</h3>
                  <p>Modèle 1</p>
               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
               <div class="glasses_box">
                  <figure><img src="images/glass2.jpg" alt="#"/></figure>
                  <h3><span class="blu">$</span>200</h3>
                  <p>Modèle 2</p>
               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
               <div class="glasses_box">
                  <figure><img src="images/glass3.jpg" alt="#"/></figure>
                  <h3><span class="blu">$</span>180</h3>
                  <p>Modèle 3</p>
               </div>
            </div>
    </body>

</html>
